@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700" rel="stylesheet" />

<body class="home" id="page">


    <!-- Main Content -->
    <div class="content-box">
        <!-- Hero Section -->
        <section class="section section-hero">
            <div class="hero-box">
                <div class="container">
                    <div class="hero-text">
                        <h1>Купите билеты сейчас</h1>
                        <p>подумайте об этом потом!</p>

                        <div class="parent">
                            <div class="child">
                                <a class="bn31" asp-area="" asp-controller="Client" asp-action="Index">Приобрести билет</a>
                            </div>
                        </div>

                    </div> 
                </div>
            </div>
        </section>
    </div>
 
</body>
